# created by virtualenv automatically
.idea
/Lib
/Scripts
/logs
/venv
/data/extracted
app/__pycache__/
app/api/__pycache__/
app/api/endpoints/__pycache__/
tests/__pycache__/
.env
.coverage
coverage.xml
pyvenv.cfg
test.db
test.db-journal