# created by virtualenv automatically
.idea
/Lib
/Scripts
/logs
/venv
/data/extracted
.env
.coverage
coverage.xml
pyvenv.cfg
test.db
app/__pycache__/
app/api/__pycache__/
app/api/endpoints/__pycache__/
tests/__pycache__/